html {
  scroll-behavior: smooth body;
    scroll-behavior-font-family: 'Roboto', sans-serif;
    scroll-behavior-margin: 0;
    scroll-behavior-text-align: center;
    scroll-behavior-background-color: #e8e8e8; }
  html h1 {
    font-size: 3.5em; }
  html h2 {
    font-size: 2em;
    padding: 0;
    margin: 0;
    text-align: center; }
  html h3 {
    font-size: 2em;
    text-align: center; }
  html h4 {
    font-size: 2em;
    text-align: center; }
  html p {
    font-size: 1.5em;
    padding: 1em;
    margin: 0; }
  html .color-acento {
    color: #bb0505; }

p.logo {
  display: flex;
  padding: 1em;
  text-align: center;
  font-weight: bold;
  color: #bb0505;
  font-size: 2.1em;
  font-family: 'Roboto', sans-serif;
  margin-right: 1em; }

#navbar div img {
  padding: 1em;
  text-align: center;
  margin-right: 1em;
  border-radius: 5em;
  height: 15vh; }

#navbar div {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }
  #navbar div #navbar div a {
    padding: 1em;
    display: flex;
    flex-direction: row;
    text-align: center;
    text-decoration: none; }
    #navbar div #navbar div a #navbar ul {
      background-color: rgba(123, 4, 4, 0.936);
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      text-align: center;
      padding: 1em;
      margin: 0em; }
      #navbar div #navbar div a #navbar ul position:fixed #navbar ul a {
        display: block;
        padding: 4px 8px;
        text-decoration: none;
        color: #e8e8e8;
        transition: color .3s ease, background-color .3s; }
        #navbar div #navbar div a #navbar ul position:fixed #navbar ul a #navbar ul a:hover,
        #navbar div #navbar div a #navbar ul position:fixed #navbar ul a #navbar ul a:focus {
          color: #e8e8e8;
          background-color: #4a2626; }
        #navbar div #navbar div a #navbar ul position:fixed #navbar ul a #navbar li {
          list-style: none;
          padding: 0; }

header a:hover {
  background-color: rgba(123, 4, 4, 0.936); }

#hero {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 70vh;
  color: #e8e8e8;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagenes/frente.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }
  #hero #hero h1 {
    color: #e8e8e8; }
    #hero #hero h1 #hero button {
      font-size: 1em; }

button, #contactos button, .galeria button {
  font-size: 1.5em;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 15px;
  border: 2px solid black;
  box-shadow: 2px 2px 10px;
  color: white;
  background-color: #bb0505;
  margin: 2rem;
  transition: .3s ease;
  min-width: 200px; }

button:hover, #contactos button:hover {
  background-color: rgba(123, 4, 4, 0.936); }

#id.contactos {
  background-color: #bb0505;
  margin-top: 8rem; }

#contactos button {
  font-size: 0.8em; }

#somos-alurod {
  text-align: center; }

#nuestra-consulta {
  text-align: center;
  padding: 0 auto; }

.galeria #contactos button, #contactos .galeria button, .galeria button {
  display: flex;
  position: relative; }
  .galeria button .galeria #contactos button:before, .galeria #contactos button .galeria button:before, #contactos .galeria button .galeria button:before, .galeria button .galeria button:before {
    content: ".";
    background-color: black;
    width: 10%;
    height: 10%;
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    transition: opacity ease .3s;
    opacity: 0; }
    .galeria button .galeria button:before .galeria #contactos button:hover:before, .galeria button .galeria #contactos button:before .galeria button:hover:before, .galeria #contactos button .galeria button:before .galeria button:hover:before, #contactos .galeria button .galeria button:before .galeria button:hover:before, .galeria button .galeria button:before .galeria button:hover:before {
      opacity: 0.5; }

.galeria img {
  display: block;
  max-height: 400px;
  transition: transform ease .3s; }

form {
  font-size: 0.8em;
  text-align: center; }
  form form label {
    display: block;
    width: 50%;
    margin: 0 auto; }
    form form label form button, form form label form #contactos button, #contactos form form label form button, form form label form .galeria button, .galeria form form label form button {
      font-size: 0.8em; }

#social-media img {
  border-radius: 1em;
  background-color: white;
  transition: all ease .3s;
  margin: 1.2em;
  height: 2em; }

#instagram:hover {
  background-color: #ff0084;
  background-position: center;
  text-align: center; }

#facebook:hover {
  background-color: #1515f7; }

footer {
  background-color: black;
  color: white;
  padding: 1em; }

hr {
  height: 0.2rem;
  max-width: 100%;
  border: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), #bb0505, rgba(0, 0, 0, 0)); }
  hr section hr {
    margin: 3rem; }

.flex-galeria {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap; }

.flex-galeria img {
  margin: 0 auto;
  padding: 10px;
  border-radius: 10%;
  width: 300px;
  opacity: 1;
  transition: all ease 0.2s; }
  .flex-galeria img .flex-galeria img:hover {
    opacity: 10;
    border: solid 2px #bb0505; }

html {
  scroll-behavior: smooth; }

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  text-align: center;
  background-color: #e8e8e8; }

h1 {
  font-size: 1.7em; }

h2 {
  font-size: 1.5em;
  padding-top: 5em;
  margin: 0em; }

h3 {
  font-size: 1.5em;
  text-align: center;
  padding-top: 6.5em;
  margin: 0; }

h4 {
  font-size: 1em; }

p {
  font-size: 1.2em;
  padding: 1em auto;
  margin: 0; }

button, #contactos button, .galeria button {
  font-size: 2em;
  font-weight: bold;
  border-radius: 20px;
  color: white;
  background-color: #bb0505;
  margin: 1.5rem;
  transition: .3s ease; }

button:hover, #contactos button:hover {
  background-color: rgba(123, 4, 4, 0.936); }

.color-acento {
  color: #bb0505; }

p.logo {
  display: flex;
  padding: 1em;
  text-align: center;
  font-weight: bold;
  color: #bb0505;
  font-size: 2.1em;
  font-family: 'Roboto', sans-serif;
  margin-right: 1em; }

#navbar div {
  display: flex;
  justify-content: space-between; }

#navbar div a {
  padding: 0.2em;
  display: flex;
  text-align: center;
  text-decoration: none; }

#navbar ul {
  background-color: rgba(123, 4, 4, 0.936);
  position: absolute;
  text-align: center;
  padding: 0em;
  margin: 5.4em;
  transition: max-height .3s ease;
  position: absolute;
  overflow: hidden;
  width: 100%; }

#navbar li {
  list-style: none;
  padding: 0; }

#navbar ul a {
  display: block;
  padding: 4px 8px;
  text-decoration: none;
  color: #e8e8e8;
  transition: color .3s ease, background-color .3s; }

#navbar ul a:hover,
#navbar ul a:focus {
  color: white;
  background-color: #4a2626; }

header a:hover {
  background-color: #4a2626; }

#hero {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 70vh;
  color: #e8e8e8;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagenes/frente.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }

#hero h1 {
  color: #e8e8e8; }

#hero button {
  font-size: 1em; }

#contactos button {
  font-size: 0.8em; }

#somos-alurod {
  text-align: center; }

#nuestra-consulta {
  text-align: center;
  padding: 0 auto; }

.galeria #contactos button, #contactos .galeria button, .galeria button {
  display: block;
  position: relative;
  margin: 2rem auto;
  max-width: 800px;
  overflow: hidden;
  box-shadow: 0 0 10px var(#bb0505);
  padding: 0;
  border: none; }

.galeria img {
  display: block;
  max-height: 400px;
  transition: transform ease .3s; }

.galeria #contactos button:before, #contactos .galeria button:before, .galeria button:before {
  content: "";
  background-color: black;
  width: 10%;
  height: 10%;
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
  transition: opacity ease .3s;
  opacity: 0; }

.galeria #contactos button:hover:before, #contactos .galeria button:hover:before, .galeria button:hover:before {
  opacity: 0.5; }

form {
  font-size: 0.8em;
  text-align: center; }

form label {
  display: block;
  width: 50%;
  margin: 0 auto; }

form button, form #contactos button, #contactos form button, form .galeria button, .galeria form button {
  font-size: 0.8em; }

#social-media img {
  border-radius: 1em;
  background-color: white;
  transition: all ease .3s;
  margin: 1.2em;
  height: 2em; }

#instagram:hover {
  background-color: #ff0084;
  background-position: center;
  text-align: center; }

#facebook:hover {
  background-color: #1515f7; }

footer {
  background-color: black;
  color: white;
  padding: 1em; }

hr {
  height: 0.2rem;
  max-width: 100%;
  border: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), #bb0505, rgba(0, 0, 0, 0)); }

section hr {
  margin: 3rem; }

#id.contactos {
  background-color: #bb0505;
  margin-top: 8rem; }

.flex-galeria {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap; }

.flex-galeria img {
  margin: 0 auto;
  padding: 10px;
  border-radius: 10%;
  width: 300px;
  opacity: 1;
  transition: all ease 0.2s; }

.flex-galeria img:hover {
  opacity: 10;
  border: solid 2px #bb0505; }
